severity = 1
include = Moose::ProhibitMultipleWiths Moose::ProhibitNewMethod Moose::RequireCleanNamespace Moose::RequireMakeImmutable Lax::ProhibitComplexMappings::LinesNotStatements Lax::ProhibitEmptyQuotes::ExceptAsFallback Lax::ProhibitLeadingZeros::ExceptChmod Lax::ProhibitStringyEval::ExceptForRequire Lax::RequireEndWithTrueConst Lax::RequireExplicitPackage::ExceptForPragmata Bangs::ProhibitNumberedNames Bangs::ProhibitRefProtoOrProto Bangs::ProhibitUselessRegexModifier Subroutines::ProhibitExportingUndeclaredSubs Subroutines::ProhibitQualifiedSubDeclarations Modules::RequireExplicitInclusion Documentation::RequirePODUseEncodingUTF8 CodeLayout::RequireUseUTF8
color = 1
verbose = 9


[BuiltinFunctions::ProhibitStringyEval]
allow_includes = 1

[CodeLayout::ProhibitHardTabs]
allow_leading_tabs = 0

[Documentation::PodSpelling]
stop_words = metadata LESPEA lesperance blogged CPAN CPANID's CPANID dists dist irc cpan namespace blog PluginBundle PluginBundles

[RegularExpressions::RequireExtendedFormatting]
minimum_regex_length_to_complain_about = 10

[Subroutines::RequireArgUnpacking]
allow_subscripts = 1



[-Bangs::ProhibitCommentedOutCode]
[-CodeLayout::RequireTidyCode]
[-ControlStructures::ProhibitPostfixControls]
[-ControlStructures::ProhibitUnlessBlocks]
[-ControlStructures::ProhibitUntilBlocks]
[-Documentation::RequirePodSections]
[-ErrorHandling::RequireCarping]
[-Miscellanea::RequireRcsKeywords]
[-Modules::RequireExplicitPackage]
[-References::ProhibitDoubleSigils]

